{% extends 'layout.html' %}

{% block body %}
  <h1 class="pt-4">Dashboard <small> Welcome Student {{session.username}}</small></h1>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Attendance</th>
      <th>Date</th>
    </tr>
    {% for attend in attends %}
      <tr>
        <td>{{attend.id}}</td>
        <td>{{attend.subject}}</td>
        <td>{{attend.presabs}}</td>
        <td>{{attend.class_date}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
