{% extends 'layout.html' %}

{% block body %}
  <h1 class="pt-4">My Dashboard</h1>
  <div class="row justify-content-md-center">
    <form class="form-inline", method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group mx-sm-3 mb-2">
          {{ form.subject.label(class="mr-2") }}
          {{ form.subject(class="form-control") }}
        </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary mb-2 ml-2") }}
      </div>
    </form>
  </div>
  <hr>
  {% if count >= 1 %}
  <table class="table table-striped">
    <tr>
      <th>Roll No</th>
      <th>Student</th>
      <th>Date</th>
      <th>Status</th>      
    </tr>
    {% for attendance in attendances %}
    <tr>
      <td>{{ attendance.student.rollno }}</td>
      <td>{{ attendance.student.name }}</td>
      <td>{{ attendance.date }}</td>
      <td>{% if attendance.status %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}</td>
    </tr>
    {% endfor %} 
  </table>
  {% else %}
  <div class="container text-center">
    {{ msg }}
  </div>
  {% endif %}
{% endblock %}
