{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron mt-2">
  <h1 class="display-4 text-center">Bluetooth Attendance System</h1>
  <div class="content-section">
    <form action="" , method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label }}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Enter email") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg", placeholder="Enter email") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Enter password") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.password(class="form-control form-control-lg", placeholder="Enter password") }}
        {% endif %}
      </div>
      <div class="form-group form-check">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label }}
      </div>
      <div>
        {{ form.submit(class="btn btn-outline-info") }}
        <small class="text-muted">
          <a class="ml-1" href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
        </small>
      </div>
    </form>
  </div>
</div>
{% endblock %}